body{
    background-color: #7B6DA1;
    font-family: 'Permanent Marker', 'cursive';
    color: #CEAA48;
}

.header{
    text-align: center;
}
.gameSpace{
    text-align: center;
}
.question{
    margin-bottom: 20px;
}